.app-component{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.translator{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    width:90vw
}

@media screen and (max-width: 414px) {
    .app-component{
        height: fit-content;
        overflow-y: scroll;
    }
    .translator{
        flex-direction: column;
    }
}